h1 {
    text-align: center;
    font-size: 5rem;
    padding: 5rem;
    text-shadow: 2px 2px 5px red;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: linear-gradient(to left, rgba(236, 155, 49, 0.589), yellow);
}

hgroup h2 {
    text-align: center;
    margin: 3rem;
    font-weight: bolder;
    font-size: 4rem;
    text-shadow: 1px 1px 2px black,
        0 0 25px blue,
        0 0 5px darkblue;

    color: rgb(81, 85, 136);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr {
    width: 10%;
    border: 1rem dotted rgba(173, 216, 230, 0.664);
    border-left: none;
    border-spacing: 2rem;
    border-right: none;
    border-bottom: none;
}

article {
    background: linear-gradient(to left bottom, rgba(95, 158, 160, 0.541), skyblue);
    width: 80%;
    margin: 3rem;
    padding: 2rem;
    margin: 3rem auto;
    border: 1px solid olivedrab;
    border-radius: 60px;
    box-shadow: 20px 20px 30px grey;
}

article:hover {
    width: 82%;
}

article h2 {
    font-size: 3rem;
    text-align: justify;
    margin-left: 2rem;
    color: maroon;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article p {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 3rem;

}

article ul {
    padding: 2rem;
    font-size: 2rem;
    list-style-type: georgian;
}


article ul li {

    margin: 2rem;
    font-weight: 600;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article ul li:hover {
    color: orange;
    text-shadow: -1px 0 black,
        0 1px black,
        1px 0 black,
        0 -1px black;

}